image:
  repository: farbodbj/toy-nginx # {"$imagepolicy": "flux-system:toy-nginx:tag"}
  tag: "1.0.0"
  pullPolicy: IfNotPresent

replicaCount: 1
resources:
  requests:
    cpu: "50m"
    memory: "32Mi"
  limits:
    cpu: "100m"
    memory: "64Mi"

service:
  type: ClusterIP
  port: 80