apiVersion: apps/v1
kind: Deployment
metadata:
  name: toy-nginx
  labels:
    app: toy-nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: toy-nginx
  template:
    metadata:
      labels:
        app: toy-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
              memory: "32Mi"
            limits:
              cpu: "100m"
              memory: "64Mi"
